---
layout: default
title: {{ site.name }}
---
<div id = "header">
    <center>  
        <h2>Santy Raghavan</h2>
        santy.raghavan at gmail.com<br>
        214.478.0267<br>  
    </center>
    <center>
        {% include contact_small.html %}
    </center>   
</div>


<div id = "intro">
  I am a Solutions Architect with over 20 years of industry experience in designing and building business solutions. 
  I am skilled in Web Applications, ERP, Cloud Computing Architectures, Data Integration and Infrasturucture. I maintain a keen interest 
  in emerging technologies and how they can be applied to business problems.  
  <br> 
  I am an electronics enthusiast. I build and write software for microcontroller plaftforms like Arduino or Raspberry PI. I can 
  design and write software for sensor based applications.   
</div>
<br>
<br>
<div id = "core">
    <h3> Core Skills A </h3>
    <ul>
        <li> Solution Architecture
        <li> Cloud & Hybrid Cloud Applications
        <li> Service Oriented Architecture
        <li> Web Application Architecture
        <li> 
    </ul>
</div>
                                        
{% include skills.html %}                                       
                                        
