---
layout: default
title: {{ site.name }}
---
<div id = "header">
    <center>  
        <h2>Santy Raghavan</h2>
        santy.raghavan at gmail.com<br>
        214.478.0267<br>
        {% include contact_small.html %}  
    </center>
</div>


<div id = "intro">
  Solutions Architect with over 20 years of leadership experience in designing innovative business solutions. 
  Skilled in Cloud Computing, Information Management, Application Development, and Virtualization. 
  Demonstrated mastery understanding and translating business requirements into high quality software.
</div>
                                        
{% include skills.html %}                                       
                                        
