<div>
    <!-- contact social icons -->
    <table>
        <tr>
            <td><img src = "/images/linkedin.png"  height ="40" width="40"></td>
            <td><img src = "/images/github.png"    height ="40" width="40"></td>
            <td><img src = "/images/fb.png"        height ="40" width="40"></td>
            <td><img src = "/images/twitter.png"   height ="40" width="40"></td>
            <td><img src = "/images/instagram.png" height ="40" width="40"></td>
        </tr>
    </table>
</div>
