    <table border = "0">
        <tr>   
            <td>
                <a href = "https://www.linkedin.com/in/santosh-raghavan-606b696/"><img src = "/images/linkedin.png"  height ="40" width="40"></a>
            </td>
            <td>
                <a href = "https://github.com/santyraghavan"><img src = "/images/github.png"    height ="40" width="40"></a>
            </td>
            <td>
                <a href="https://twitter.com/santyraghavan"><img src = "/images/twitter.png"    height ="40" width="40"></a>
            </td>
        </tr>
    </table>
