<div>
    <!-- contact social icons -->
    <table>
        <tr>
            <td><img src = "/images/linkedin.png"  height ="50" width="50"></td>
            <td><img src = "/images/github.png"    height ="50" width="50"></td>
            <td><img src = "/images/fb.png"        height ="50" width="50"></td>
            <td><img src = "/images/twitter.png"   height ="50" width="50"></td>
            <td><img src = "/images/instagram.png" height ="50" width="50"></td>
        </tr>
    </table>
</div>
