
<canvas id="skills"></canvas>
    
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'radar',

  data: {
    labels: ["Software Architecture", "R&D", "Systems Integration", "ERP", "Data Analysis"],
    datasets: [{
      label: 'Skills',
      backgroundColor: "rgba(153,255,51,0.4)",
      borderColor: "rgba(153,255,51,1)",
      data: [80, 60, 75, 60, 50]
    }]
  },

options:{
            scale:
            {
                responsive: true,
                ticks: {min: 0, max: 100},
                lineArc: false,
                pointLabels: {fontSize: 14},
            },
            legend: {display: false},
        }
  

});
</script>
